{
  "openapi": "3.1.0",
  "info": {
    "title": "Frank English Repo Updater",
    "description": "读取和更新 frank-english-grade8 仓库中的学习进度文件",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://api.github.com" }
  ],
  "paths": {
    "/repos/wenfei366-ship-it/frank-english-grade8/contents/{path}": {
      "get": {
        "operationId": "getFile",
        "summary": "读取仓库中的一个文件（返回 base64 内容和 sha）",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "文件路径，例如 progress/current-session.md"
          }
        ],
        "responses": {
          "200": { "description": "文件内容（content 字段是 base64，sha 字段更新时要用）" }
        }
      },
      "put": {
        "operationId": "updateFile",
        "summary": "创建或更新一个文件（更新已有文件必须带上 GET 拿到的 sha）",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "文件路径，例如 progress/current-session.md"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message", "content"],
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "提交说明，例如：打卡 session-01"
                  },
                  "content": {
                    "type": "string",
                    "description": "文件完整新内容的 base64 编码"
                  },
                  "sha": {
                    "type": "string",
                    "description": "更新已有文件时必填：先 getFile 拿到该文件的 sha 填在这里。新建文件不填。"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "更新成功" },
          "201": { "description": "创建成功" }
        }
      }
    }
  }
}
